h2{
	margin-left: 50px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul a{
	width: 200px;
	height: 40px;
	color: black;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	display: block;
	background-image: url(../imagens/menu.png);
}
a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: white;
}
li{
	margin-left: 10px;
}