body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
}
#container{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    min-width: 720px;
    max-width: 1280px;
}
#marca{
    height: 300px;
    width: 100%;
    background: #225992 url(./img/cabecalho2.jpg) no-repeat;
    text-align: center;
    line-height: 300px;
}
#conteudo{
    width: 75%;
    float: right;
}
/*#imagem{
    width: 90%;
    overflow: hidden; /*faz com que a imagem seja cortada
}*/
#conteudo .conteudo-1{
    width: 63%;
    float: left;
}
.img-noticia {
    width: 96%;
    padding: 2%;
    max-width: 600px;
}
#conteudo .conteudo-2{
    width: 32%;
    float: right;
    padding: 10px;
    background-color: #d1d1d1;
}
#navegacao{
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#navegacao a{
    color: black;
}
#navegacao a:hover{
    opacity: 0.2;
    
}
#rodape{
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}
