body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
}
#container{
    width: 720px;
    margin: 0 auto;
    background-color: white;
}
#marca{
    height: 100px;
    background-color: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 520px;
    float: right;
}
#conteudo .conteudo-1{
    width: 320px;
    float: left;
}
#conteudo .conteudo-2{
    width: 180px;
    float: right;
    padding: 10px;
    background-color: #d1d1d1;
}
#navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#navegacao a{
    color: black;
}
#rodape{
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}
